<!doctype html>
<html>
<head>
<title>Hello AngularJS</title>
<script src="components/angular/angular.min.js"></script>
<script src="modules/MonsterSearch/MonsterService.js"></script>
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
	<div data-ng-app="MonsterSearch" data-ng-controller="monstersController" class="bd">
		<div>
			<form data-ng-submit="submit()">
				<label>search by code</label><br/>
				<input type="text" data-ng-model="code"> <br/>
				<input type="radio" data-ng-model="color" value="red">  Red <br/>
  				<input type="radio" data-ng-model="color" value="green"> Green <br/>
  				<input type="radio" data-ng-model="color" value="blue"> Blue <br/>
<!-- 				 <label> -->
<!-- 					<input type="checkbox" data-ng-model="authorizedOnly" data-ng-change="submit()"> Authorized only -->
<!-- 				</label> -->
				<br/>
				<label>Choose limit : </label>
				<select data-ng-model="limit">
					<option value="10">10</option>
					<option value="25">25</option>
					<option value="50">50</option>
					<option value="3">3</option>
				</select>
			</form>
		</div><br>
		<div class="datagrid">
			<table>
				<thead><tr>
				<th>Code</th>
				<th>Name</th>
				<th>Family</th>
				<th>Level</th>
				</tr></thead>
				<tr data-ng-repeat="x in data" class="alt{{x.level}}">
					<td>{{ x.code }}</td>
					<td>{{ x.name }}</td>
					<td>{{ x.family }}</td>
					<td>{{ x.level }}</td>
				</tr>
				<tr data-ng-if="!totalRows"><td colspan="4">No results.</td></tr>
			</table>
		</div>
	</div>

</body>
</html>