<!doctype html>
<html>
<head>
<title>Hello AngularJS</title>
<script src="components/angular/angular.min.js"></script>
<script src="modules/MonsterSearch/MonsterService.js"></script>
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
	<div data-ng-app="MonsterSearch" data-ng-controller="monstersController" class="bd">
		<div>
			<form data-ng-submit="submit()">
				<input type="text" data-ng-model="code">
				 <label>
					<input type="checkbox" data-ng-model="authorizedOnly" data-ng-change="submit()"> Authorized only
				</label>
			</form>
		</div><br>
		<div class="datagrid">
			<table>
				<thead><tr>
				<th>Code</th>
				<th>Name</th>
				<th>Family</th>
				<th>Level</th>
				</tr></thead>
				<tr data-ng-repeat="x in rows" class="alt{{x.level}}">
					<td>{{ x.code }}</td>
					<td>{{ x.name }}</td>
					<td>{{ x.family }}</td>
					<td>{{ x.level }}</td>
				</tr>
			</table>
		</div>
	</div>

</body>
</html>